<section id="product_types-new">
  <h1 class="page-title"><%= t ".title" %></h1>
  <div class="actions">
    <%= link_to t(".back"), admin_product_types_path, class: :btn %>
  </div>
  <%= render "form" %>
</section>
