// import the CSS framework
@import "bootstrap";

// make all images responsive by default
//img {
//  @extend .img-responsive;
//  margin: 0 auto;
//  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }
  // right layout
  .right-layout {
    float: right;
  }

  .row .col-md-6 {
    width: 70%;
    margin-left: 0px;
  }

  .fb-like-box {
    width: 230px;
  }
  #facebook_like_box {
    width: 230px;
    margin: 10px 0 0 -6px;
  }

  .row .col-md-6_right {
    width: 15%;

    margin-right: 0px;
  }
  .row .col-md-6_left {
    width: 15%;

    margin-left: 0px;
  }
  .row .col-md-6_bottom {
    width: 100%;
    //align: center;
    //margin-left: 100px;
  }

  .login_name {
    float: right;
    margin: 5px;
  }
  .login_require {
    float: right;
    line-height: 20px;
    padding: 15px 229px
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }
  .ads {
    padding: 15px;
  }
// css footer
  .copyright {
    border-top: 1px solid #DADADA;
    margin-top: 0;padding: 5px 0 15px;
    float: left;
    width: 100%;
    line-height: 1.4;
    font-size: 1.2em;
    color: #888;
    font-family: 'Roboto Condensed', sans-serif;
  }
  .copyright .info {
    float: right; text-align:right;
    font-size:0.8em; position:relative;top:10px;
  }
  .copyright .logo {
    float: left;
    font-size:0.8em;
    width:50%;
  }
  .copyright .logo img {
    float:left; margin-right:10px; border-right:1px solid #eee;
    -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box;
    position:relative;top:3px;
    width: 110px;
    heigh: 80px;
  }
  .copyright .info a {color: #000;}

  .crumb {
    float: left;
    padding: 15px 15px;
  }
  .test {
    padding: 10px 10px;
  }

  .product-image > img {
    width: 100px;
    height: 150px;
  }
  a > img:hover
  { 
    background-color:yellow;
  }

.modal {
  background-color: #FFFFFF;
  width: 65%;
  heigh: 65%;
  top: 75px;
  left: 17%;
  bottom: 15px;
}