<section id="products-new">
  <h1 class="page-title"><%= t ".title" %></h1>
  <div class="actions">
    <%= link_to t(".back"), admin_users_path, class: :btn %>
  </div>
  <%= render "form" %>
</section>

