<div class="ads">
	<div class="">
		<table width="100%">
			<tr>
				<td><img alt="140x140" src="http://lorempixel.com/100/100/">Qc: xxxxxx</td>
			</tr>
			<tr>
				<td><img alt="140x140" src="http://lorempixel.com/100/100/">
				Qc: xxxxxx</td>
			</tr>
		</table>
	</div>
</div>
