<div class="copyright">
	<div class="logo">
		<a href="http://mixu-shop.heroku.com">
		<img src="http://static4.depositphotos.com/1027030/377/i/450/depositphotos_3778504-Logo-Design-for-Online-Shopping-website.jpg" width="130">
		</a>
	<br>
		© Copyright Mixu-shop.heroku.com, All rights reserved.
	<br>
	Ghi nguồn Mixu-shop.heroku.com khi phát hành lại thông tin từ website này.
	</div>
	<p class="info vcard">
		<a href="mailto:toasoan@news.zing.vn" style="color: #555;">quandhcn@gmail.com </a>| 0165.xxx.xxxx <br />
		<a href="http://news.zing.vn/infopages/toa-soan.html">Thông tin </a>•
		<a href="http://ads.vng.com.vn/rate-card#tabs-2#Zing-News-PR-Article">Quảng cáo </a>•
		<a href="http://vng.com.vn/vn/tuyen-dung/">Tuyển dụng </a>
</div>